body {
    padding-bottom: 400px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #F4F4F4;
}

h1 {
    color: #FF7F50;
    margin-left: 40px;
} 

h2 {
    color: white;
    margin-left: 40px;
} 

h3 {
    color: #4c3100;
    margin-left: 40px;
} 

h4 {
    color: #4c3100;
    margin-left: 40px;
} 


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}





